body {
    padding: 0;
    border: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#imageHeadFoot {
    color: red;
}

#coolPicture {
    size: small;
}